.mapa-seats-ajut #chart {
  min-height: 440px;
} 
.bg-white-map {
  background-color: #fff;
  /*-webkit-box-shadow: 0 1px 15px 1px rgba(81, 77, 92, .08);
  box-shadow: 0 1px 15px 1px rgba(81, 77, 92, .08);*/
  margin-bottom: 20px;
}
.mapa-seats-ajut .pd-2 {
  padding: 20px;
}
.mapa-seats-ajut #carrinho {
  padding: 10px;
}
.carrinho-setor p {
  margin: 0;
  font-weight: 600; 
  font-size: 1.1rem;
}
.carrinho-setor div {
  color: #575962;
  line-height: 15px;
  margin-bottom: 5px;
}
.bg-white-map h6 {
  padding: 10px 10px 0px 10px;
}
.btn-comp-total .btn-select-data {
  max-width: 200px;
}
.btn-comp-total {
  padding: 1rem;
}
#modalFinaliza .form-check {
  font-size: 15px;
}
#modalFinaliza .form-check a {
  color: red;
}
.label-entrega {
  display: flex;
  flex-flow: nowrap;
  align-items: flex-start;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  color: rgb(132, 140, 155);
  padding: 0;
}
.mostra-total {
  display: flex;
  align-items: center;
  height: 100%;
}
.area-btn-cont {
  display: flex;
  justify-content: end;
  align-items: center;
}
.area-resu-setor h6 {
  margin: 0;
}
.area-resu-setor p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(132, 140, 155);
}
@media(max-width: 600px) {
  .mostra-total,
  .area-btn-cont {
    justify-content: center;
  }
}
.obs-ingressos {
  margin: 10px 0;
}
.btn-comp-ing {
  margin-top: 0;
}